@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.ocultar {
    display: none;
}
 
.mostrar {
    display: block;
}


body {
    margin: 0%;
    padding: 0%;
}

div.home {
    background: #890E40;
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 640px;
    font-family: 'Comfortaa', cursive;
}

.logoHome {
    padding: 29% 20%;
    margin: 0%;
    display: flex;
    justify-content: center;
    width: 168px;
    height: 115px;
}

.containerFlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 5% 26% 24%;
    margin: 0% 5% 0% 0%;
}


button.buttonHome {
    background: #FF723F;
    border-radius: 24%;
    width: 119px;
    height: 36px;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 5%;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    border: thin;
    margin: 4% 3%;  
}

.theLogin {
    background-image: url("assets/login.png");
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 640px;
    font-family: 'Comfortaa', cursive;
}

.logoHomeLogin {
    padding: 12% 21%;
    margin: 0%;
    display: flex;
    justify-content: center;
    width: 42%;
    height: 115px;
}

h2 {
    margin: 0%;
    display: flex;
    justify-content: center;
    color: #eaeaea;
    font-size: large;
    padding: 0% 13% 0% 0%;
}

.formLogin {
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 73%;
    padding: 5% 0% 0% 6%;
}

h3 {
    margin: 0%;
    display: flex;
    justify-content: center;
    color: #eaeaea;
    padding: 0% 11% 0% 0%;
}

.containerFlexCenter2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

.formLoginInputs {
    display: flex;
    text-align: center;
    border-radius: 20%;
    border: #5A1846;
    background: #5A1846;
    color: #eaeaea;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    margin: 2% 7%;
}


button.buttonLogin {
    background: #FF723F;
    border-radius: 24%;
    width: 122px;
    height: 34px;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 3% 0% 0% 1%;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    border: thin;
    margin: 0% 25%;
}

.home-login {
    background-image: url("assets/login.png");
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 640px;
    font-family: 'Comfortaa', cursive;
}

.containerFlexCenter3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 4% 0% 1%;
    margin: 0% 8% 0% 0%;
}

.styleFormLoginHome {
    display: flex;
    text-align: center;
    border-radius: 20%;
    border: #5A1846;
    background: #5A1846;
    color: #eaeaea;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    margin: 0% 8% 2% 2%;
    padding: 1% 1% 0% 0%;
}


button.buttonsLogin {
    background: #FF723F;
    border-radius: 24%;
    width: 122px;
    height: 34px;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 3% 0% 0% 1%;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    border: thin;
    margin: 0% 23%;
}

.logoLogin {
    padding: 22% 20%;
    margin: 0%;
    display: flex;
    justify-content: center;
    width: 168px;
    height: 115px;
}

button#buttonGoogle {
    background-image: url(assets/google-boton.png);
    padding: 6% 16%;
    border-radius: 12%;
    border: medium;
    margin: 6% 0% 6% 27%;
    display: flex;
    justify-content: center;
    width: 54px;
    height: 40px;
}

.wall {
    background:  #EAEAEA;
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 640px;
    font-family: 'Comfortaa', cursive;
}

.headerWall {
    display: flex;
    justify-content: space-around;
    background: #5A1846;
    margin: 0%;
    width: 360px;
    height: 73px;
}

.createPublication {
    display: flex;
    justify-content: center;
    width: 135%;
    height: 100%;
    margin: 0%;
    padding: 0% 3%;
}

.containerFlexCenter4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 135%;
    padding: 5%;
    margin: 0%;
}

.createPublication2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
    padding: 0% 36% 0% 19%;
}

.card {
    display: flex;
    flex-direction: column;
    border: ridge;
    padding: 2%;
    margin: 0% 34% 0% 0%;
    font-family: 'Comfortaa', cursive;
}

.divCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0% 0% 0% 10%;
    padding: 2% 7%;
}

.textCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: ridge;
    padding: 9% 0% 0% 6%;
    margin: 0% -82% 2% -52%;
    font-family: 'Comfortaa', cursive;
}

h3.h3Publication {
    margin: 0%;
    display: flex;
    justify-content: end;
    color: #5A1846;
    padding: 0% 55% 0% 0%;
}

.avatarsCard {
    display: flex;
    justify-content: flex-start;
    margin: 0%;
    width: 266%;
    height: 0%;
}

.enviajaCard {
    display: flex;
    justify-content: flex-end;
    width: 157%;
    padding: 1% 73%;
    margin: -2% 0% 0% -50%;
}

.desenviajaDiv {
    display: flex;
    margin: 10% 3% 0% 3%;
    font-size: x-large;
}

.desenviaja {
    display: flex;
    justify-content: center;
    padding: 22% 23% 0% 0%;
    margin: 0% 0% 2% 0%;
    background-image: url(assets/desaviona.png);
    width: 9%;
    border: none;
}

.buttonCard {
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin: 0% 34% 0% 0%;
    font-family: 'Comfortaa', cursive;
}


button#avatarPublication {
    isplay: flex;
    justify-content: center;
    background-image: url(assets/avatar-publication.png);
    padding: 15% 0% 0% 0%;
    margin: 0% 100% 0% -21%;
    width: 15%;
    border: none;
}


button#desenviaja {
    display: flex;
    justify-content: space-evenly;
    padding: 13% 13% 0% 0%;
    margin: 0% 6% 0% -20%;
    background-image: url(assets/desaviona.png);
    width: 0%;
}


button.buttonNewPublication2 {
    background: #FF723F;
    border-radius: 24%;
    width: 91%;
    height: 0%;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 8% 20% 9% 25%;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    border: thin;
    margin: 2% 22% 8% 0%;
}

#form-groupInput {
    display: flex;
    justify-content: center;
    margin: 0%;
    width: 100%;
}

#task-InputNewPublication {
    display: flex;
    justify-content: center;
    width: 84%;
    height: 34%;
    font-family: 'Comfortaa', cursive;
}

.form-group {
    display: flex;
    justify-content: center;
}

.toPublicated {
    display: flex;
    justify-content: center;
    padding: 7%;
    margin: 1%;
    font-family: 'Comfortaa', cursive;
}


button.buttonNewPublication {
    background: #FF723F;
    border-radius: 24%;
    width: 122px;
    height: 34px;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 2% 0% 0% 1%;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    border: thin;
    margin: 3% 34%;
}

.flexCenter5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 5% 1% 5%;
    margin: 0% 6% 0% 4%;
}

.publication {
    display: flex;
    flex-direction: column;
    padding: 1% 4%;
    margin: 0%;
}

#avatarPublication {
    display: flex;
    justify-content: center;
    background-image: url(assets/avatar-publication.png);
    padding: 15% 0% 0% 0%;
    margin: 0% 81% 0% 0%;
    width: 16%;
}

.alreadyPublicated {
    display: flex;
    justify-content: center;
    padding: 7%;
}

#enviaja {
    display: flex;
    justify-content: center;
    padding: 13% 13% 0% 0%;
    background-image: url(assets/enaviona.png);
    width: 0%;
}

#desenviaja {
    display: flex;
    justify-content: center;
    padding: 13% 13% 0% 0%;
    background-image: url(assets/desaviona.png);
    width: 0%;
}


